
<%if current_user%>
  <div class="greeting">Hello <%= current_user.username %>!</div>
<%end%>

Welcome to Ratatouille!

<em>Make beautiful recipes out of kitchen scraps</em><br>

<img src="img/spices.jpeg">